.input-box{
    width: 223px;
    height: 60px;
    color: white;
    background-color: #333333;
   border: none;
    font-size: 26px;
    text-align: right;
    justify-content: right;
    padding: 2px 10px;
    border-top-left-radius: 3px;
}
.operator{
    color: white;
    background-color: #fb9419;
  
}
button{
      width: 60px;
    height: 60px;
    font-size: 20px;
     border: none;
   border-top: 0.5px solid #666;
    border-left: 0.5px solid #666;
}
.box{
     color: black;
    background-color: white;
  
  
}
.calculator{
    justify-content: center;
    text-align: center;
    display: flex;  
    align-items: center;
    height: 100vh;
    flex-direction:column;
    
}
.keypad{
    border-bottom: 0.5px solid #666;
    border-right: 0.5px solid #666;
}